[Unit]
Description=Configure ethtool settings on eth0
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'sleep 15 && /usr/sbin/ethtool -C eth0 rx-frames 1'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
