CONFIG_IMX_SDMA=m
CONFIG_KRATOS_STATION_PM=m
CONFIG_NAMESPACES=y
CONFIG_NET_NS=y
CONFIG_UTS_NS=y
CONFIG_TIME_NS=y
CONFIG_IPC_NS=y
# CONFIG_USER_NS is not set
CONFIG_PID_NS=y
CONFIG_IMX_SDMA=m
CONFIG_UIO_PDRV_GENIRQ=y
CONFIG_UIO_DMEM_GENIRQ=y
CONFIG_MXC_GPU_VIV=y
CONFIG_FPGA=y
CONFIG_FPGA_MGR_XILINX_SPI=m
CONFIG_FPGA_REGION=y
CONFIG_OF_FPGA_REGION=y
